In [33]:
import pandas as pd
from matplotlib import pyplot as plt

import numpy as np

from sklearn.preprocessing import MinMaxScaler

In [34]:
df = pd.read_csv("3_KS_train_w_vader_bayes.csv")

In [35]:
df.head(5)

,staff_pick,funded,days_to_launch,days_to_dealine,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,is_cat_food,...,is_2013,is_2014,is_2015,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg,blurb_bayes
0,False,True,81,22,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.770405
1,False,True,24,40,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.913929
2,False,True,7,60,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.660800
3,False,True,8,21,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0.993950
4,False,True,52,30,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,0.623790

In [36]:
df['log_goal_usd'] = np.log10(df['goal_usd'])
df = df.drop(['goal_usd'], axis=1)

In [37]:
df.head(5)

,staff_pick,funded,days_to_launch,days_to_dealine,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,is_cat_food,...,is_2014,is_2015,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg,blurb_bayes,log_goal_usd
0,False,True,81,22,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.770405,3.447158
1,False,True,24,40,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.913929,3.653213
2,False,True,7,60,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,0.660800,3.698970
3,False,True,8,21,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,0.993950,3.812913
4,False,True,52,30,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,0.623790,4.176091

In [38]:
print(df['days_to_launch'].min(), df['days_to_launch'].max())
print(df['days_to_dealine'].min(), df['days_to_dealine'].max())

0 2220
1 92

In [39]:
df['log_days_to_launch'] = np.log(df['days_to_launch'] + 1)
df['log_days_to_dealine'] = np.log(df['days_to_dealine'] + 1)

df = df.drop(['days_to_dealine', 'days_to_launch'], axis=1)

In [40]:
df.head(5)

,staff_pick,funded,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,is_cat_food,is_cat_games,is_cat_fashion,...,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg,blurb_bayes,log_goal_usd,log_days_to_launch,log_days_to_dealine
0,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,0.770405,3.447158,4.406719,3.135494
1,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,0.913929,3.653213,3.218876,3.713572
2,False,True,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,0.660800,3.698970,2.079442,4.110874
3,False,True,True,False,False,False,False,False,False,False,...,False,False,False,True,False,False,0.993950,3.812913,2.197225,3.091042
4,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,0.623790,4.176091,3.970292,3.433987

In [41]:
print(df['log_days_to_launch'].min(), df['log_days_to_launch'].max())
print(df['log_days_to_dealine'].min(), df['log_days_to_dealine'].max())

0.0 7.7057128238944275
0.6931471805599453 4.532599493153256

In [42]:
print(df['log_goal_usd'].min(), df['log_goal_usd'].max())

-2.0 8.146472741070422

In [43]:
scaler = MinMaxScaler()
scaler.fit(df)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [44]:
df[df.columns] = scaler.fit_transform(df[df.columns])

In [45]:
df.head(5)

,staff_pick,funded,is_cat_art,is_cat_music,is_cat_film,is_cat_technology,is_cat_publishing,is_cat_food,is_cat_games,is_cat_fashion,...,is_2016,is_2017,is_2018,sentiment_pos,sentiment_neu,sentiment_neg,blurb_bayes,log_goal_usd,log_days_to_launch,log_days_to_dealine
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.770405,0.536852,0.571877,0.636119
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.913929,0.557160,0.417726,0.786681
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.660800,0.561670,0.269857,0.890160
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.993950,0.572900,0.285142,0.624541
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.623790,0.608693,0.515240,0.713862

In [47]:
df.to_csv('KS_train_final.csv', index=False)