In [212]:
import pandas as pd
from matplotlib import pyplot as plt

import numpy as np

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [213]:
df = pd.read_csv("KS_train_data_clean_1.0.csv")

In [214]:
df.head(5)

,Unnamed: 0,blurb,category,country,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine,launched_year
0,0,I will be an artist-in-residence at Elsewhere ...,art,US,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22,2012
1,1,1000 Artists is a public art-making installati...,art,US,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40,2012
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,US,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60,2012
3,3,A film exploring the role and value of art edu...,art,GB,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21,2012
4,4,We need to build a kitchen for Habitable Space...,art,US,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30,2012

In [215]:
df['blurb'].fillna(" ", inplace=True)

In [216]:
for index, value in df['blurb'].items():
    s = "".join([ c if c.isalpha() else " " for c in value ])
    s = s.lower()
    
    df.at[index, 'clean_blurb'] = s

In [217]:
df.head(5)

,Unnamed: 0,blurb,category,country,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine,launched_year,clean_blurb
0,0,I will be an artist-in-residence at Elsewhere ...,art,US,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22,2012,i will be an artist in residence at elsewhere ...
1,1,1000 Artists is a public art-making installati...,art,US,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40,2012,artists is a public art making installati...
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,US,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60,2012,the sequel to my favorite machine myphoneh...
3,3,A film exploring the role and value of art edu...,art,GB,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21,2012,a film exploring the role and value of art edu...
4,4,We need to build a kitchen for Habitable Space...,art,US,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30,2012,we need to build a kitchen for habitable space...

In [271]:
X = df.clean_blurb
y = df.funded

In [272]:
X.fillna(" ", inplace=True)

In [273]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [274]:
vectorizer = CountVectorizer()
counts = vectorizer.fit_transform(X.values)

In [276]:
classifier = MultinomialNB(alpha=1)
targets = y.values
classifier.fit(counts, targets)

MultinomialNB(alpha=1, class_prior=None, fit_prior=True)

In [277]:
example_count = vectorizer.transform(X.values)
predictions = classifier.predict(example_count)

In [278]:
predictions

array([ True,  True,  True, ...,  True,  True,  True])

In [279]:
print(classification_report(y, predictions))

              precision    recall  f1-score   support

       False       0.73      0.70      0.72     41334
        True       0.78      0.80      0.79     54300

    accuracy                           0.76     95634
   macro avg       0.75      0.75      0.75     95634
weighted avg       0.76      0.76      0.76     95634

In [ ]:
              precision    recall  f1-score   support

       False       0.64      0.58      0.61     13656
        True       0.70      0.75      0.73     17904

    accuracy                           0.68     31560
   macro avg       0.67      0.67      0.67     31560
weighted avg       0.68      0.68      0.68     31560

In [267]:
print(counts[0])

  (0, 50256)	1
  (0, 25611)	1
  (0, 1647)	1
  (0, 1109)	1
  (0, 122)	1
  (0, 50065)	2
  (0, 29594)	1
  (0, 35168)	1
  (0, 29523)	1
  (0, 55327)	1
  (0, 16655)	1
  (0, 25677)	1
  (0, 37080)	1
  (0, 20654)	1
  (0, 50350)	1

In [293]:
example_count = vectorizer.transform(X.values)
x = classifier.predict_proba(example_count)
# print(x)
i = 0

for row in x:
    df.at[i, 'blurb_true'] = row[1]
    df.at[i, 'blurb_false'] = row[0]
    i+=1

In [294]:
df.head(10)

,Unnamed: 0,blurb,category,country,currency,fx_rate,goal,staff_pick,location,funded,subcategory,days_to_launch,days_to_dealine,launched_year,clean_blurb,blurb_true,blurb_false
0,0,I will be an artist-in-residence at Elsewhere ...,art,US,USD,1.0,2800.0,False,"Paonia, CO",True,mixed media,81,22,2012,i will be an artist in residence at elsewhere ...,0.766543,0.233457
1,1,1000 Artists is a public art-making installati...,art,US,USD,1.0,4500.0,False,"Washington, DC",True,public art,24,40,2012,artists is a public art making installati...,0.856718,0.143282
2,2,"The Sequel to ‘My Favorite Machine”, ""MyPhoneH...",art,US,USD,1.0,5000.0,False,"Frisco, TX",True,sculpture,7,60,2012,the sequel to my favorite machine myphoneh...,0.687277,0.312723
3,3,A film exploring the role and value of art edu...,art,GB,USD,1.0,6500.0,False,"Glasgow, UK",True,art,8,21,2012,a film exploring the role and value of art edu...,0.994888,0.005112
4,4,We need to build a kitchen for Habitable Space...,art,US,USD,1.0,15000.0,False,"Kingsbury, TX",True,public art,52,30,2012,we need to build a kitchen for habitable space...,0.729879,0.270121
5,5,Source Material is 2 person exhibition of the ...,art,US,USD,1.0,600.0,False,"Houston, TX",True,painting,21,36,2012,source material is person exhibition of the ...,0.999359,0.000641
6,6,An anthropological field study of the Dwarven ...,art,US,USD,1.0,2000.0,False,"Chicago, IL",True,art,3,12,2012,an anthropological field study of the dwarven ...,0.966393,0.033607
7,7,Portrait artist seeks funds to kickstart an ex...,art,US,USD,1.0,10000.0,True,"New Britain, CT",True,painting,18,33,2012,portrait artist seeks funds to kickstart an ex...,0.558784,0.441216
8,8,This is a month long Residency at the The Verm...,art,US,USD,1.0,2800.0,True,"Johnson, VT",True,painting,11,45,2012,this is a month long residency at the the verm...,0.966981,0.033019
9,9,"Art, Music, and Theater live on the Waterfront...",art,US,USD,1.0,5000.0,False,"Seattle, WA",True,public art,22,30,2012,art music and theater live on the waterfront...,0.929526,0.070474

In [295]:
df['funded'].corr(df['blurb_true'])

0.5654061101510349

In [296]:
df['funded'].corr(df['blurb_false'])

-0.5654061101510348